@font-face {
  font-family: 'Bebas-Neue';
  src: url("../../app/fonts/BebasNeue-Regular.ttf");
}

@font-face {
  font-family: "Manrope-Light";
  src: url("../../app/fonts/Manrope-Light.ttf");
}

@font-face {
  font-family: "Manrope-Regular";
  src: url("../../app/fonts/Manrope-Regular.ttf");
}

@font-face {
  font-family: "Manrope-Medium";
  src: url("../../app/fonts/Manrope-Medium.ttf");
}

@font-face {
  font-family: "Manrope-SemiBold";
  src: url("../../app/fonts/Manrope-SemiBold.ttf");
}

@font-face {
  font-family: "Manrope-Bold";
  src: url("../../app/fonts/Manrope-Bold.ttf");
}

@font-face {
  font-family: "Manrope-ExtraBold";
  src: url("../../app/fonts/Manrope-ExtraBold.ttf");
}