.bebas-neue {
  font-family: 'Bebas-Neue';
}

.manrope-light {
  font-family: 'Manrope-Light';
}

.manrope-regular {
  font-family: 'Manrope-Regular';
}

.manrope-semibold {
  font-family: 'Manrope-SemiBold';
}

.manrope-bold {
  font-family: 'Manrope-Bold';
}

.manrope-extrabold {
  font-family: 'Manrope-ExtraBold';
}